<!DOCTYPE html>
<html>
    <head>
        <title> Trabalhado com Layouts </title>
        <meta name="viewport" content="width=device-width,inittial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="temas/blog.css"/>
        <link rel="stylesheet" type="text/css" href="reset.css"/>    
    </head>

    <body>
        <header> HEADER </header>
        <nav> NAV </nav>
        
        <section id="bloco1">
            BLOCO 1
            <article id="article1"> ARTICLE 1 </article>
        </section>
        
        <section id="bloco3">
            BLOCO 2
            <article id="article2"> ARTICLE 2 </article>
        </section>
        
        <section id="bloco2">
            BLOCO 3
            <article id="article3"> ARTICLE 3 </article>
        </section>
        
        <aside> ASIDE </aside>
        <footer> FOOTER </footer>
    </body>
</html>